---
Checks:          'bugprone-*, cert-*, clang-analyzer-*, concurrency-*, misc-*, modernize-*, mpi-*, openmp-*, performance-*, portability-* readability-*'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false